@import '../../_breakpoints.scss';

.header {
  position: fixed;
  width: 100%;
  height: 100vh;
  mix-blend-mode: difference;
  z-index: 100;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;
    width: 50%;

    @include mobile-query {
      padding: 0 10px;
    }

    h5 {
      font-size: 200px;
      @include mobile-query {
        font-size: 80px;
      }
    }

    p {
      font-size: 30px;
      @include mobile-query {
        font-size: 12px;
      }
    }

    svg {
      margin-top: 10px;
      width: 600px;
      height: auto;
      @include mobile-query {
        width: 100px;
      }
      path {
        fill: transparent;
        stroke: var(--white);
        stroke-dasharray: 590;
        stroke-dashoffset: 590;
        animation: textAnimation 1s ease-in-out 1 forwards;
        animation-delay: 1s;
      }
    }
  }

  &__info {
    padding-top: 10px;
    text-align: center;
  }
}

@keyframes headerAnimation {
  0% {
    width: 60%;
    top: 50%;
  }
  100% {
    width: 100%;
    top: 0%;
    transform: translate(-50%, 0px);
  }
}

@keyframes svgAnimation {
  0% {
    width: 500px;
    height: auto;
  }
  100% {
    width: 224px;
    height: auto;
  }
}

@keyframes textAnimation {
  0% {
    stroke-dashoffset: 590;
  }
  80% {
    fill: transparent;
  }
  100% {
    fill: var(--white);
    stroke-dashoffset: 0;
  }
}