@import '../../_breakpoints.scss';
.playlist {
  position: relative;
  height: 100vh;
  width: 100vw;
  padding: 100px;
  text-align: center;

  @include mobile-query {
    padding: 80px 20px;
    width: 100%;
    height: fit-content;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__title {
    font-size: 100px;
    text-transform: uppercase;
    @include mobile-query {
      font-size: 80px;
    }
  }

  &__description {
    font-family: 'Fogtwo';
    font-size: 25px;
    @include mobile-query {
      font-size: 20px;
    }
  }

  &__wrapper {
    display: flex;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    @include mobile-query {
      display: block;
      height: fit-content;
      min-height: 50vh;
    }
  }

  &__canvas {
    width: 50%;
    height: 100%;
    pointer-events: none;
    @include mobile-query {
      width: 100%;
      min-height: 50vh;
    }
    canvas {
      width: 100%;
      height: 100%;
    }
  }

  &__wrap {
    display: none;
  }

  &__list {
    width: 50%;
    height: fit-content;
    max-height: 100%;
    overflow-y: scroll;
    background-color: var(--black);
    color: var(--white);
    border-radius: 20px;
    @include mobile-query {
      width: 100%;
    }

    &__header {
      display: flex;
      height: 30px;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      margin: 0 auto;
      position: sticky;
      top: 0;
      background-color: var(--black);

      &__play {
        cursor: pointer;
      }

      &__content {
        display: flex;
        align-items: center;
        gap: 10px;
        width: 50%;
        @include mobile-query {
          width: 70%;
        }
      }

      &__info {
        overflow: hidden;
        white-space: nowrap; // Prevent the text from wrapping
        position: relative;
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__song {
          display: inline-block;
          position: absolute;
          min-width: 100%;
          &__playing {
            animation: scrollText 5s linear infinite;
          }
        }
      }
    }

    &__wrapper {
      padding-bottom: 0px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.5s ease-in-out;
      &__show {
        max-height: 800px;
        padding-bottom: 20px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      display: flex;
      align-items: flex-end;
      cursor: pointer;
      padding: 0px 20px;
      text-align: left;
      @include mobile-query {
        padding: 5px 20px;
        gap: 5px;
      }
      &__song {
        font-size: 30px;
        pointer-events: none;
        @include mobile-query {
          font-size: 15px;
        }
      }

      &__artist {
        font-size: 12px;
        pointer-events: none;
        @include mobile-query {
          font-size: 10px;
        }
      }

      &:hover {
        background-color: var(--white);
        color: var(--black);
      }
    }
  }
}

@keyframes scrollText {
  0% {
    transform: translateX(100%); // Start the text off-screen on the right
  }
  100% {
    transform: translateX(-100%); // End with the text off-screen on the left
  }
}
