/*
 * Humane
 */

@font-face {
  font-family: 'Humane';
  src: url('/fonts/Humane/Humane-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Humane';
  src: url('/fonts/Humane/Humane-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Humane';
  src: url('/fonts/Humane/Humane-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Humane';
  src: url('/fonts/Humane/Humane-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Humane';
  src: url('/fonts/Humane/Humane-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Humane';
  src: url('/fonts/Humane/Humane-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Humane';
  src: url('/fonts/Humane/Humane-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/*
 * Fogtwo
 */

@font-face {
  font-family: 'Fogtwo';
  src: url('/fonts/Fogtwo/FogtwoNo5.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

