.playlist {
  height: 100vh;
  width: 100vw;
  padding: 100px;
  text-align: center;
  position: relative;

  &__title {
    font-size: 200px;
  }

  &__description {
    font-family: 'Fogtwo';
    font-size: 25px;
    margin-bottom: 100px;
  }

  &__tracks {
    position: relative;
    z-index: 1;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: difference;
  }

  &__track {
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0.1;
    &:hover {
      opacity: 1;
      transform: skew(-10deg);
    } 
  }

  &__cover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
